h1,h3,h4{
    color: black;
}
.content {
    min-height: calc(100vh - 70px);
}
.rf-content{
    margin-top: 80px;
    margin-bottom: 2%;
    min-height: 75rem;
}
.footer {
    height: 50px;
}
.shadow-top {
    box-shadow: 0 -5px 5px -5px #333;
}
.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}
.shadow {
    box-shadow: 0 5px 5px -5px #333;
}
.shadow-left {
    box-shadow: -5px 0 5px -5px #333;
}
.shadow-all {
    box-shadow: 0 0 5px #333;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: #E8AF6C;
}
.home_content .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.home_card img{
    border: 1px solid black;
    border-radius: 50%;
}
.home_card p{
    padding-top: 5px;
    font-size: large;
    font-weight: bold;
}
.home_card a{
    color: #ED5A0F;
}
.home_card a:hover{
    color: #FF9966;
}
.btn-primary{
    background-color: #ED5B0F !important;
    border: 0px !important;
}
.btn-primary:hover{
    background-color: #ff9900 !important;
}
.btn-secondary{
    background: rgb(0,0,0) !important;
    border: 0px !important;
}
.btn-secondary:hover{
    background-color: #ff9900 !important;
}
.widgets-row{
    padding: 1%;
    background-color: #ED5A0F;
    border: black solid 2px;
    border-radius: 4px;
}
.widgets-row .btn{
    height: 100% !important;
    width: 100% !important;
}
.card{
    border: black 4px solid !important;
}

@media (min-width: 1200px) {
    .desktop-menu{
        display: block;
    }
    .bm-burger-button{
        display: none;
    }
}

@media (max-width: 1200px) {
    .rf-content{
        margin-bottom: 5%;
    }
    .desktop-menu{
        display: none;
    }
    .footer i,a{
        font-size: smaller;
    }
    /* Position and sizing of burger button */
    .bm-burger-button {
        display: block;
        position: absolute;
        width: 36px;
        height: 30px;
        right: 5px;
        top: 25px;
    }
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: black;
    }
    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: #a90000;
    }
    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }
    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
    }
    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        top:0;
        height: 100%;
    }
    /* General sidebar styles */
    .bm-menu {
        background: rgb(221,121,71);
        background: linear-gradient(0deg, rgba(221,121,71,1) 0%, rgba(235,91,14,1) 35%, rgba(251,89,19,1) 75%, rgba(254,131,49,1) 100%);
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
    }
    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }
    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }
    /* Individual item */
    .bm-item {
        display: inline-block;
        color: #d1d1d1;
        margin-bottom: 10px;
        text-align: left;
        text-decoration: none;
        transition: color 0.2s;
    }
    .bm-item:hover {
        color: #ffffff;
    }
    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}