.shadow-top {
    box-shadow: 0 -5px 5px -5px #333;
}

.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.shadow {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow-left {
    box-shadow: -5px 0 5px -5px #333;
}

.shadow-all {
    box-shadow: 0 0 5px #333;
}

.navbar a{
    color: white;
}

.rf-btn{
    background: rgb(221,121,71);
    background: linear-gradient(90deg, rgba(221,121,71,1) 0%, rgba(235,91,14,1) 35%, rgba(251,89,19,1) 75%, rgba(254,131,49,1) 100%);
    border: 2px solid black
}
.rf-btn:hover{
    color: black;
    background: rgb(221,121,71);
    background: linear-gradient(90deg, rgba(221,121,71,1) 0%, rgba(226,216,17,1) 35%, rgba(255,243,107,1) 75%, rgba(254,131,49,1) 100%);
}